@use '../mixins' as m

.formContainer
    display: flex
    flex-direction: column
    gap: 40px
    width: 100%
    height: calc(100vh - 80px)
    @include m.media(phone)
        height: calc(100vh - 48px)

.stepperContainer
    width: 100%
    margin-top: 110px
    @include m.media(phone)
        margin-top: 80px

.buttonContainer
    width: 100%
    display: flex
    justify-content: end
    .button
        margin: 20px
        z-index: 1
        background: #E95B47
        padding: 12px 24px
        color: white
        border-radius: 50px
        width: fit-content
        font-size: 24px
        gap: 16px
        &:hover
            background: #FF644E
        @include m.media(tablet, laptop, phone)
            font-size: 18px
            padding: 12px 24px
            svg
                height: 24px

.fieldContainer
    display: flex
    flex-direction: column
    gap: 12px
    color: #65635E
    font-weight: bold
    font-size: 18px
