@use '../mixins' as m

.container
    padding: 40px 80px
    min-height: fit-content
    max-height: calc(100vh - 160px)
    @include m.media(tablet)
        padding: 12px 48px
    @include m.media(phone)
        padding: 24px
        height: calc(100vh - 104px)
